@import '../../constants.scss';

.InsPosterior {
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas: ". text .";
    margin-bottom: .5rem;
}

.InnerContainer {
    text-align: justify;
    grid-area: text;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: $shadow-THE-smallest;
    border-radius: .3rem;
    & .SmallDescription {
        position: relative;
        z-index: 10;
        line-height: 1.2;
        margin-top: -5rem;
        border-top: 1px solid $color-grey-dark-1;
        border-bottom: 1px solid $color-grey-dark-1;
    }    
    & hr {
        position: relative;
        z-index: 10;
    }

}

.AliceContainerOuter {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    text-decoration: underline;
    & .CanvasContainer {
        display: grid;
        justify-items: center;
        margin-bottom: 2rem;
    }

    & .AliceContainer {
        display: grid;
        justify-items: center;
        margin-bottom: 2rem;
    }

}

.MainPlot {
    margin-top: -5rem;
    display: grid;
    grid-template-rows: repeat(6, min-content);
}